/* General Syles */
body {
    background: #e8e8e8;
}

main {
    padding-top: 60px;
}

.navbar-title {
    display: inline-block;
    line-height: 64px;
    margin-left: 30px;
    color: #fff;
    font-size: 24px;
}

a.product-font {
    color: #fff;
}

a.product-font:hover {
    text-decoration: none;
}

.navbar .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -1px;
}

.card {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 24px;
}

.card-header .card-header-title {
    font-size: 24px;
    margin: 0 0 8px 0;
}

/* Panel Items */
.panel-item.panel-item-switch {
    background: #009688;
    border-radius: 30px;
    color: #fff;
    margin: 10px 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    min-height: 50px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    transition: 0.5s;
    user-select: none;
}

.panel-item.panel-item-switch.off {
    background: #909090;
}

.panel-item-switch-icon,
.panel-item-rgb-icon {
    position: absolute;
    padding: 0 15px 0 20px;
    font-size: 20px;
    line-height: 50px;
    /*border-right: 1px solid rgba(95, 95, 95, 0.3);*/
    background: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.panel-item-switch-name,
.panel-item-rgb-name {
    text-align: center;
    width: 100%;
    padding-left: 35px;
}

.panel-item.panel-item-variable {
    width: 100%;
    background: #009688;
    border-radius: 2px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    color: #fff;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.panel-item-variable .item-variable-icon {
    font-size: 45px;
}

.panel-item-variable .item-variable-value {
    background: rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.panel-item.panel-item-rgb {
    background: #909090;
    border-radius: 30px;
    color: #fff;
    margin: 10px 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    min-height: 50px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    transition: 0.5s;
    user-select: none;
}

@media (max-width: 767px) {
    /* CSS goes here */
}

/* Snackbar fixes */
#snackbar-container {
    position: fixed;
    right: 20px;
    bottom: 0;
    left: auto;
    z-index: 99999;
}

/* Migration styles !!! */
/*.box {*/
    /*position: relative;*/
    /*border-radius: 0;*/
    /*border: none;*/
    /*background: #ffffff;*/
    /*margin-bottom: 20px;*/
    /*width: 100%;*/
    /*box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);*/
/*}*/

/*.box.box-success {*/
    /*border: none;*/
/*}*/

/*.content-wrapper {*/
    /*background: #e8e8e8;*/
/*}*/
