.product-font {
    font-family: 'Product Sans', Arial, sans-serif;
}

.product-font span {
    font-weight: bold;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.fontawesome-iconpicker-input {
    display: block;
}
