.not-set {
    color: #c55;
    font-style: italic;
}

.product-font {
    font-family: 'Product Sans', Arial, sans-serif;
}

.product-font span {
    font-weight: bold;
}

.control-panel-room-title {
    color: #8a8a8a;
    border-bottom: 1px solid #efefef;
    font-size: 30px;
    margin-bottom: 20px;
}

.item-switch .info-box-text {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
}

.login-page {
    background: url("../img/login-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    /*box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);*/
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.info-box-action {
    border-radius: 2px 0 0 2px;
    float: left;
    height: 90px;
    width: 90px;
    /*text-align: center;*/
    /*font-size: 45px;*/
    /*line-height: 90px;*/
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-switch .info-box {
    cursor: pointer;
}

.shadow-wrapper {
    position: relative;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 20% 0;
    text-transform: uppercase;
}

.loading-blur {
}
