.not-set {
    color: #c55;
    font-style: italic;
}

.product-font {
    font-family: 'Product Sans', Arial, sans-serif;
}

.product-font span {
    font-weight: bold;
}

.control-panel-room-title {
    color: #8a8a8a;
    border-bottom: 1px solid #efefef;
    font-size: 30px;
    margin-bottom: 20px;
}

.item-switch .info-box-text {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
}

.login-page {
    background: url("../img/login-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-box {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    /*box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);*/
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.info-box-action {
    border-radius: 2px 0 0 2px;
    float: left;
    height: 90px;
    width: 90px;
    /*text-align: center;*/
    /*font-size: 45px;*/
    /*line-height: 90px;*/
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-switch .info-box {
    cursor: pointer;
}

/* WS Loader */
.content-wrapper {
    position: relative;
}

.control-panel {
    display: none;
}

.loader .loader-animation {
    margin: 30px auto 0;
}

.loader .loader-text {
    margin: 30px auto;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
}

.loader .loader-animation span {
    transition: 0.5s;
}

.loader.error .loader-animation span {
    background: #DD4B39;
}

.loader-animation {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin: 50px;
    background: transparent;
}

.loader-animation span {
    position: absolute;
    top: 50px;
    display: block;
    width: 30px;
    height: 30px;
    background: #605ca8;
    border-radius: 50%;
}

.loader-animation span:nth-child(1) {
    -webkit-animation: bounce 0.8s ease-in-out infinite;
    animation: bounce 0.8s ease-in-out infinite;
}

.loader-animation span:nth-child(2) {
    left: 40px;
    -webkit-animation: bounce 0.8s ease-in-out 0.25s infinite;
    animation: bounce 0.8s ease-in-out 0.25s infinite;
}

.loader-animation span:nth-child(3) {
    left: 80px;
    -webkit-animation: bounce 0.8s ease-in-out 0.5s infinite;
    animation: bounce 0.8s ease-in-out 0.5s infinite;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

.select2-container--krajee .select2-selection--single {
    line-height: 2;
}

/* material design */
.navbar-title {
    display: inline-block;
    line-height: 64px;
    margin-left: 30px;
    color: #fff;
    font-size: 24px;
}
